FactoryBot.define do
  factory :<%= factory_name %> do
<% columns.each do |column| -%>
    <%= column %>
<% end -%>
<% associations.each do |association| -%>
    <%= association %>
<% end -%>
  end
end
