class Create<%= migration_name %> < ActiveRecord::Migration[7.0]
  def change
    <% if table_options.nil? %>create_table :<%= table_name %> do |t|<% else %>create_table :<%= table_name %>, <%= table_options %> do |t|<% end %>
  <% columns.each do |column| -%>
    <%= column %>
  <% end -%>
  <%- if timestamps? -%>
    t.timestamps
  <% end -%>
  end

  <% indices.each do |index| -%>
  <%= index %>
  <% end -%>
end
end
